*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  font-family: "Oswald", sans-serif;
  background-color: #15ffbc;
}

.large-header {
  display: none;
}

.small-header {
  display: block;
  width: 100%;
  font-size: 1.5rem;
}
.small-header__elem {
  list-style: none;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.small-header__hamb:hover {
  filter: invert(76%) sepia(8%) saturate(7170%) hue-rotate(298deg) brightness(108%) contrast(98%);
}
.small-header__logo {
  display: block;
  height: 100%;
}
.small-header__home {
  text-decoration: none;
  color: inherit;
  letter-spacing: 0.3rem;
}
.small-header__home:hover {
  color: #ff8dac;
}

.pink-car__image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
  background-image: url("/images/sass-bem-media-organized/media03.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  clip-path: polygon(100% 0, 100% 80%, 0 100%, 0 20%);
}
.pink-car__play-icon {
  height: 7.6rem;
  width: 8rem;
  margin-bottom: 2rem;
}
.pink-car__icon-txt {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  font-style: italic;
  color: #15ffbc;
  letter-spacing: 0.3rem;
}
.pink-car__text-regular {
  font-weight: 300;
  transform: scale(1.4, 1) rotate(-12deg);
}
.pink-car__text-bold {
  font-weight: 400;
  transform: scale(1.4, 1) rotate(-12deg);
}

.text {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}
.text__title-h2 {
  font-size: 2.5rem;
  font-weight: 300;
  text-align: center;
  transform: scale(1.2, 1);
  padding: 1rem 5rem;
}
.text__paragraph {
  text-align: center;
  transform: scale(1.2, 1);
  padding: 1rem 5rem;
  line-height: 2.5rem;
}
.text__icon-wave-black {
  margin: 3rem 0 0 0;
  height: 6rem;
  width: 6rem;
}
.text__link {
  color: black;
  text-decoration: underline;
}
.text__link:hover {
  color: #ff8dac;
}

.set-images {
  width: auto;
}

.img1 {
  width: auto;
}
.img1__image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 580px;
  width: auto;
  background-image: url("/images/sass-bem-media-organized/home1-works5.jpg");
  background-repeat: no-repeat;
  background-position: center;
  clip-path: polygon(0 25%, 100% 0, 100% 75%, 0% 100%);
}
.img1__image:hover .img1__icon {
  opacity: 1;
}
.img1__icon {
  opacity: 0;
}
.img1__caption {
  position: relative;
  top: -3rem;
  font-size: 1.4rem;
  font-style: italic;
  letter-spacing: 0.3rem;
  transform: scale(1.4, 1) rotate(-20deg);
  text-align: center;
}

.img2 {
  width: auto;
}
.img2__image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 580px;
  width: auto;
  background-image: url("/images/sass-bem-media-organized/home2-works9.jpg");
  background-repeat: no-repeat;
  background-position: center;
  clip-path: polygon(0 25%, 100% 0, 100% 75%, 0% 100%);
}
.img2__image:hover .img2__icon {
  opacity: 1;
}
.img2__icon {
  opacity: 0;
}
.img2__caption {
  position: relative;
  top: -3rem;
  font-size: 1.4rem;
  font-style: italic;
  letter-spacing: 0.3rem;
  transform: scale(1.4, 1) rotate(-20deg);
  text-align: center;
}

.img3 {
  width: auto;
}
.img3__image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 580px;
  width: auto;
  background-image: url("/images/sass-bem-media-organized/home3-works3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  clip-path: polygon(0 25%, 100% 0, 100% 75%, 0% 100%);
}
.img3__image:hover .img3__icon {
  opacity: 1;
}
.img3__icon {
  opacity: 0;
}
.img3__caption {
  position: relative;
  top: -3rem;
  font-size: 1.4rem;
  font-style: italic;
  letter-spacing: 0.3rem;
  transform: scale(1.4, 1) rotate(-20deg);
  text-align: center;
}

@media (min-width: 600px) {
  .small-header {
    display: none;
  }

  .large-header {
    display: block;
    height: 200px;
  }

  .large-header__elem {
    display: flex;
    justify-content: center;
    align-items: stretch;
  }
}

/*# sourceMappingURL=style.css.map */
