// COLORS
$primary-color: #15ffbc;
$pink-color: #ff8dac;

// LETTER SPACING
$letter-spacing: 0.3rem;

// FILTER
$pink-color-filter: invert(76%) sepia(8%) saturate(7170%) hue-rotate(298deg)
	brightness(108%) contrast(98%);

// MEDIA-QUERY
$media-query-width: 600px;
