$primary-color: #15ffbc;
$pink-color: #ff8dac;
$letter-spacing: 0.3rem;
$pink-color-filter: invert(76%) sepia(8%) saturate(7170%) hue-rotate(298deg)
	brightness(108%) contrast(98%);
//$font-size-h2: 1.4rem;
