h3 {
	color:aliceblue;
	margin: 2.5rem 0 1.5rem 0;
}
p {
	color: #16FFBD;
	letter-spacing: 0.3rem;
}

.footer {
	font-family: "Oswald", sans-serif;
	background-color: #080d14;
	text-align: center;
	padding-top: 7em;
	padding-bottom: 7em;
	transform: skewY(-10deg);
	letter-spacing: 0.4rem;
}

.footer > div {
	transform: skewY(10deg);
}
.footer > nav {
	transform: skewY(10deg);
}

.footer__title {
	color: #16FFBD;
	letter-spacing: 0.4rem;
}

.footer__title__through {
	text-decoration: line-through;
	text-decoration-color: rgb(212, 148, 148) ;
}

.icon_x {
	width: 8px;
	height: 8px;
}

.tabs {
	display: flex;
	flex-direction: column;
	margin: 2rem auto 3.5rem auto;
}

.about__anchor {
	text-decoration: none;
	color:#16ffbd;
	&:hover {
		filter: brightness(0) saturate(100%) invert(68%) sepia(6%) saturate(1763%) hue-rotate(314deg) brightness(95%) contrast(89%);
	}
}

.tabs__item {
	text-decoration: none;
	font-family: "Oswald", sans-serif;
	color:aliceblue;
	letter-spacing: 0.4rem;
	margin: 0.35rem;
	font-size: 0.5cm;
	&:hover {
		text-decoration: line-through;
		color:rgb(212, 148, 148);
	}
}

.contact__icons:hover {
	filter: brightness(0) saturate(100%) invert(68%) sepia(6%) saturate(1763%) hue-rotate(314deg) brightness(95%) contrast(89%);
}

.contact {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.contact__icons {
	margin: auto 0.5rem;
}